<div ng-controller="ctrlEditField" class="{{fieldModel.classes}} wpadding">
	<div 
		tooltip="{{fieldModel.message}}"
		tooltip-placement="left"
	>{{fieldModel.label}}:</div>

	<div ng-if="fieldModel.type=='text'">
		<textarea 
			ng-if="fieldModel.multiline" 
			ng-disabled="fieldModel.disabled" 
			type="text" 
			cols="40" 
			rows="5" 
			ng-model="item[fieldModel.name]"
		/>
		
		<input 
			ng-if="!fieldModel.multiline && !fieldModel.dateFormat" 
			ng-disabled="fieldModel.disabled" 
			type="text" 
			ng-model="item[fieldModel.name]"
		/>

		<div ng-if="fieldModel.dateFormat">
			<div ng-disabled="fieldModel.disabled">
				<p class="input-group">
					<input 
						type="text" 
						class="form-control" 
						ui-date="{dateFormat: 'dd/MM/yyyy'}" 
						ui-date-format="dd/MM/yyyy" 
						datepicker-popup="{{fieldModel.dateFormat}}" 
						ng-model="item[fieldModel.name]"
						is-open="opened"
						datepicker-options="dateOptions"
						close-text="Close" 
						show-button-bar="false"
					/>
					<span class="input-group-btn">
						<button 
							type="button" 
							class="btn btn-default" 
							ng-click="open($event)"
						>
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>

		<span ng-if="error">{{error}}</span>
	</div>

	<div ng-if="fieldModel.type=='checkbox'">
		<input 
			type="checkbox" 
			ng-disabled="fieldModel.disabled" 
			ng-model="item[fieldModel.name]" 
		/>
	</div>
	
	<!-- <select ng-if="fieldModel.type=='combobox'" ng-model="$parent.item[fieldModel.name]"
	ng-options="fieldModel.enumValues.indexOf(enumVal) as enum for enumVal in fieldModel.enumValues" /> -->
	<select 
		ng-if="fieldModel.type=='combobox'" 
		ng-disabled="fieldModel.disabled" 
		ng-model="item[fieldModel.name]" 
		ng-options="enum as enum for enum in fieldModel.enumValues"
	></select>
</div>