<div ng-controller="ctrlEditRelationshipButton">
	<button type="button" ng-click="openChooseDialog()" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-pencil"></i> Choose
    </button>
</div>
