<div class="row">
    <div>
        <h3 class="modal-title">{{model.label}}</h3>
    </div>
    <div>
        <div class="btn-toolbar">
            <div ng-edit-button all="items" model="model" class="btn-group" />
            <div class="btn-group clearfix">
                <button type="button" ng-disabled = "selectedItem==null" ng-click="remove(selectedItem)" class="btn btn-sm btn-danger btn-group">
                    <i class="glyphicon glyphicon-remove-circle"></i> Remove
                </button>
            </div>
            <div ng-edit-button current="selectedItem" all="items" model="model" update="true" class="btn-group"/>
        </div>
        <br/>
        <table st-table="showDisplay"  st-safe-src="items"   class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="field in model.fields" ng-if="field.important"
                     lr-drag-src="headers"  lr-drop-target="headers" st-sort="{{field.name}}" st-skip-natural="true">
                        {{field.label}}
                    </th>
                </tr>
                <tr ng-if="items.length>10">
                    <th colspan="{{spanSize}}"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="currentRow in showDisplay" st-select-row="currentRow" ng-click = "selection(currentRow)">
                    <td ng-repeat="field in model.fields" ng-if="field.important">
                        {{currentRow[field.name]}}
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="items.length>10">
                <tr>
                    <td colspan="{{spanSize}}" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div ng-if="selectedItem!=null">
        <div ng-show-details item="selectedItem" model="model"/>
    </div>
</div>