<div>
    <h3>Report: {{model.label}}</h3>
    <fieldset>
        <table>
            <tbody ng-repeat="field in model.fields">
                <tr><td>{{field.label}}</td></tr>
                <tr ng-if="field.type=='text'"><td><input type="text" ng-model="report[field.name]"></td></tr>
                <tr ng-if="field.type=='checkbox'"><td><input type="checkbox" ng-model="report[field.name]"></td></tr>
            </tbody>
        </table>
        <button type="button" ng-click="showReport()" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-list-alt"></i> Show report
        </button>
    </fieldset>
    <div>
    
    </div>
</div>

