<div class="sidebar-nav">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Generic App</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project management <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    	<li><a href="#/projectManagement/employee">Employee</a></li>
                    	<li><a href="#/projectManagement/project">Project</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Username <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Proflie</a></li>
                        <li><a >Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    	<li><a href="#/reports/employeesgeneralreport">Employees general report</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

