<!DOCTYPE html>
<html ng-app="WIS" ng-controller="AppCtrl">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title ng-bind="pageTitle"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--
        <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        -->
        <link rel="stylesheet" type="text/css" href="assets/dest.min.css" />
        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </head>
  <body>
      
        
      <div class="pagewrapper container">
        <div class="row">
          <div class="col-sm-2">
            <div ng-include="'menu.tpl.html'"></div>
          </div>
          <div class="col-sm-10">
            <div ng-view id="pagecontent"></div>
          </div>
        </div>
      </div>
      
   </body>
</html>
