<div >
	<button type="button" ng-if = "!update" ng-click="openEditDialog()" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-pencil"></i> New
    </button>
    <button type="button" ng-if = "update" ng-disabled="!current" ng-click="openEditDialog()" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-pencil"></i> Update
    </button>
</div>
