<div ng-controller="ctrlGeneralEdit">
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{model.label}} Edit</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="fieldModel in model.fields">
                <div ng-edit-field field-model="fieldModel" item="itemEdit" error="errors[fieldModel.name]" class="wfield"></div>
            </div>
            <hr/>
            <tabset>
                <tab ng-repeat="relationshipModel in model.relationships" heading="{{relationshipModel.label}}">
                    <div ng-show-relationship 
                    relationship-model="relationshipModel" 
                    global-model="model"
                    relationship-item="itemEdit[relationshipModel.name]"
                    global-item="itemEdit"
                    ng-if="itemEdit[relationshipModel.name]!==undefined"
                    />
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-primary" ng-click="undoChanges()">Clear</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
    
</div>
