<div ng-controller="ctrlEditRelationship">
    <div class="modal-header">
        <h3 class="modal-title">{{relationshipModel.label}}</h3>
    </div>
    <div class="modal-body">
        <table st-table="chooseItemDisplay"  st-safe-src="items"   class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="field in relationshipModel.entity.fields" ng-if="field.important"
                     lr-drag-src="headers"  lr-drop-target="headers" st-sort="{{field.name}}" st-skip-natural="true">
                        {{field.label}}
                    </th>
                </tr>
                <tr ng-if="items.length>10">
                    <th colspan="{{spanSize}}"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="currentRow in chooseItemDisplay">
                    <td ng-show='flagSingle'><input type="radio" name="itemChoose" ng-model="choosen" ng-value="currentRow" ng-click="uncheck(currentRow)"></td>
                    <td ng-show='flagMultiple'><input type="checkbox" checklist-model="choosens" checklist-value="currentRow"></td>
                    <td ng-repeat="field in relationshipModel.entity.fields" ng-if="field.important">
                        {{currentRow[field.name]}}
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="items.length>10">
                <tr>
                    <td colspan="{{spanSize}}" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="choose()">Choose</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
