<div class="row">
    <div class="col-lg-3 col-lg-offset-1 gauche">
        <fieldset ng-disabled="true">
            <table>
                <tbody ng-repeat="field in model.fields">
                    <tr><td>{{field.label}}</td></tr>
                    <tr ng-if="field.type=='text' || field.type=='combobox'"><td><input type="text" ng-model="currentItem[field.name]"></td></tr>
                    <tr ng-if="field.type=='checkbox'"><td><input type="checkbox" ng-model="currentItem[field.name]"></td></tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <div class="col-lg-7 corps">
        <tabset>
            <tab ng-repeat="relationship in model.relationships" heading="{{relationship.label}}">
                <br/>
                <div ng-if="currentItem[relationship.name] && currentItem[relationship.name].length!==0">
                    <table st-table="collectionDisplay"  st-safe-src="currentItem[relationship.name]" class="table table-bordered narrowTable">
                        <thead>
                            <tr>
                                <th ng-repeat="field in relationship.entity.fields" ng-if="field.important"
                                 lr-drag-src="headers"  lr-drop-target="headers" st-sort="{{field.name}}" st-skip-natural="true">
                                    {{field.label}}
                                </th>
                            </tr>
                            <tr ng-if="currentItem[relationship.name].length>10">
                                <th colspan="{{calculateSpan(relationship)}}"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currentRow in collectionDisplay">
                                <td ng-repeat="field in relationship.entity.fields" ng-if="field.important">
                                    {{currentRow[field.name]}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="currentItem[relationship.name].length>10">
                            <tr>
                                <td colspan="{{calculateSpan(relationship)}}" class="text-center">
                                    <div st-pagination="" st-items-by-page="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div ng-if="!(currentItem[relationship.name] && currentItem[relationship.name].length!==0)">
                No entities
                </div>
            </tab>
        </tabset>
    </div>
</div>
